<!-- CSS -->
<link rel="stylesheet" type="text/css" href="styles/decorador.css">

<!-- JS UTILS -->

<!-- JS -->
<script  type="text/javascript" src="js/nc_gesti.js" ></script>

<!--<h1>Lista de no conformidades</h1>-->

<!-- VIEW -->
<input type="hidden" id="nc_view" value="nc_noConform_lst" >

<div class="box" >

	<div class="heading" >

		<h1>No Conformidad - Listado</h1>

	</div>

	<div class="content" >

		<label class="nc_pagConfom" >Fecha:</label>
		<input type="text" class="nc_pagConfom_input" >
		<label class="nc_pagConfom" >Estado:</label>
		<select class="nc_pagConfom_input" ></select>

		<table class="list" >
			<thead>
				<tr>
					<td>N°</td>
					<td>Descripcion</td>
					<td>Fecha</td>
					<td>Estado</td>
					<td>Accion</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>---</td>
					<td>---</td>
					<td>---</td>
					<td>---</td>
					<td>----</td>
				</tr>
			</tbody>
		</table>

		<label class="nc_pagConfom" >Pagina</label>
		<select class="nc_pagConfom_input" ></select>
		<label class="nc_pagConfom" >de</label>
		<span class="nc_pagConfom_input" >---</span>

	</div>

</div>