html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
input[type='text'], input[type='password'] {
	padding: 2px;
}
select {
	padding: 1px;
}
textarea {
	padding: 2px;
}
a, a:visited {
	color: #003366;
	text-decoration: underline;
	cursor: pointer;
}
a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
#header .div1 {
	height: 90px;
	padding: 0px 30px 0px 10px;
        border-top:red solid 3px;
        border-bottom:red solid 3px;
	/*background: url('../images/header.png') repeat-x;*/
	min-width: 900px;
}

#header .div2 {
	color: #FFFFFF;
	padding: 5px 0px 0px 0px;	
	float: left;
	animation-name:logo;
	animation-duration:3s;
	animation-iteration-count: infinite;
	-webkit-animation-name:logo;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: infinite;
	/*opacity: 0.5;*/
}

#header .div2:hover {
	color: #FFFFFF;
	padding: 5px 0px 0px 0px;	
	float: left;
	animation-name:logo2;
	animation-duration:3s;
	animation-iteration-count: infinite;
	/*opacity: 0.5;*/
}

/*Animation Logo*/
@keyframes logo{
	from{
		opacity: 0.5;
	}
	to{
		opacity: 1.0;
	}
}

@-webkit-keyframes logo{
	from{
		opacity: 0.5;
	}
	to{
		opacity: 1.0;
	}
}

@keyframes logo2{
	from{
		opacity: 0.5;
		transform:rotate(0deg);
	}
	to{
		opacity: 1.0;
		transform:rotate(180deg);
	}
}

#header .div3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: right;
	padding: 15px 0px 0px 0px;
	float: right;
}
#header .div2 span {
	font-weight: bold;
}
#menu {
	background: url('../images/menu.png') repeat-x;
	position: relative;
	z-index: 1;
	height: 34px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
}
#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: url('../images/transparent.png');
}
#menu > ul a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}

#menu > ul > li + li {
	background: url('../images/split.png') center left no-repeat;
}

#menu > ul .top, #menu > ul li li.sfhover {
	padding: 10px 10px 9px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
#menu > ul ul li {
	padding: 1px 2px 0px 1px;        
        border-top:solid #555555 1px;
}
#menu > ul .selected .top {
	background: url('../images/selected.png') repeat-x;
	color: #FFFFFF;
}
#menu > ul .selected:hover a.top, #menu > ul .sfhover a.top {
}
#menu > ul .parent {
	background: url('../images/arrow-right.png') 95% center no-repeat;
}
#menu > ul li {
	float: left;
	list-style: none;
}
#menu > ul li ul {
	position: absolute;
}
#menu > ul li li {
	clear: both;
}
#menu > ul li ul a {
	color: #FFFFFF;
	/*height: 15px;*/
	width: 145px;
}
#menu > ul li ul ul {
	margin: -27px 0 0 157px;
}
#menu > ul li li:hover, #menu > ul li li.sfhover {
	background: #333;
	color: #000000;
}
#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
#content {
	background: #FFFFFF url('../images/background.png') 0px 1px repeat-x;
	padding: 10px 30px 0px 30px;
	min-width: 900px;
	padding-bottom: 128px;
}

#content .report{
    background: #999999;
}
#footer {
	background: #FFFFFF url('../images/footer.png') repeat-x;
	height: 90px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 5px;
}
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #EAF7D9 url('../images/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	color: #555555;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../images/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../images/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #555555;
}



.info {
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	/*background: #FFF5CC url('../images/attention.png') 10px center no-repeat;*/
	border: 1px solid #F2DD8C;
	color: #555555;            
}

.panel_left {
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;	
	border: 1px solid #F2DD8C;
	color: #555555;
        width: 45%
}
.panel_right {
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;	
	border: 1px solid #F2DD8C;
	color: #555555;
        width: 45%;
        float: right;
}

.required {
	/*color: #FF0000;*/
	/*font-weight: bold;*/
}
.error {
	/*margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 12px;
	font-weight: normal;*/
    float: none; color: red; vertical-align: middle;
}
.help {
	color: #666;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	cursor: pointer;
}
.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: url('../images/box.png') repeat-x;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-size: 16px;
	float: left;
}
.box > .heading .option{
	margin: 0px 0px 0px 30px;
	padding: 8px 0px 0px 0px;		
	float: left;
}
.box > .heading h1 span{	
	font-size: 12px;
        color:black;
}
.box > .heading h1 img {
	float: left;
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
}
.box > .heading .buttons {
	float: right;
	padding-top: 8px;
}
.box > .heading .filtro {
	float: right;
	padding-top: 8px;
}
.box > .content {
	padding: 5px 10px 10px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
}

table.filter {
	width: 100%;
	background: #E7EFEF; 
	border: 1px solid #C6D7D7; 
	margin-bottom: 2px;	
}

table.filter td {
	padding: 2px;
}
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 5px;
        background: #FFFFFF;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	background-color: #EFEFEF;
	padding: 2px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a{
	text-decoration: none;
}
.list tr:hover {
    /*background:#E4EEF7 ;*/
    background:#A3B2CC ;
}

.list .lstPie {
    background-color: #EFEFEF;
	padding: 2px 5px;
}


.list tbody td {
	vertical-align: middle;
	padding: 1px 2px;
	/*background: #FFFFFF;*/
}
.list .left {
	text-align: left;
	/*padding: 7px;*/
}
.list .right {
	text-align: right;
	/*padding: 7px;*/
}
.list .center {
	text-align: center;
	/*padding: 7px;*/
}
.list .asc {
	padding-right: 15px;
	background: url('../images/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../images/desc.png') right center no-repeat;
}
.list .filter td {
	padding: 1px;
	background: #E7EFEF;
}
.list .active td{
    padding: 1px;
    background: #FFFFCC;
}
.list  .deactived{
    padding: 1px;
    background: #FF9999;
}
.list .bold {
    font-weight:bold;
}

.list .titulo{
    background: #E7EFEF;
}

.list .cabecera{
    
}


.list_pie {
	border:1px solid #C6D7D7;
	display: inline-block;
        /*background-color: #EFEFEF;*/
	width: 100%;
	padding-top: 4px;
        padding-bottom: 4px;
        margin-top:4px;
        margin-bottom:4px; 
}

.list_pie span{
    float: right;
}


.pagination {
	border-top:1px solid #DDDDDD;
	display: inline-block;
        background-color: #EFEFEF;
	width: 100%;       
	padding-top: 6px;
}
.pagination .links {
	float: left;
	/*padding-top: 6px;*/
}
.pagination .links a {
	/*border: 1px solid gray;*/
	padding: 2px 2px;
	font-size: 12px;
	text-decoration: none;
	/*color: #A3A3A3;*/
}
.pagination .links b {
	/*border: 1px solid #269BC6;*/
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	/*color: #269BC6;*/
	/*background: #FFFFFF;*/
}
.pagination .results {
	float: right;
	/*padding-top: 6px;*/
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 2px;
}
table.form > tbody > tr > td:first-child {
	/*width: 200px;*/
}
table.form > tbody > tr > td {
	padding: 2px 2px 2px 2px ;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}

table.form .titulo {
	font-weight: bold;
        background: silver;
}

.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
}
.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	background: #FFFFFF url('../images/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.vtabs {
	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	float: left;
	display: block;
	border-right: 1px solid #DDDDDD;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	display: block;
	float: left;
	width: 160px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #F7F7F7;
	padding: 6px 14px 7px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.vtabs a.selected {
	padding-right: 15px;
	background: #FFFFFF;
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 205px;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}

.overview {
	float: left;
	width: 49%;
	margin-bottom: 20px;	
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 49%;
	margin-bottom: 20px;
        
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 11px;	
}
.latest {
	clear: both;	
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	background: #7B869A; 
	color: #FFF; 
	border-bottom: 1px solid #8EAEC3; 
	padding: 5px; 
	font-size: 14px; 
	font-weight: bold;	
}
.dashboard-content {
	background: #FCFCFC; 
	border: 1px solid #8EAEC3; 
	padding: 10px; 
	/*min-height: 180px;	*/
}

/******* autocomplete ***************************/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.imagen{
    border: 1px solid silver;
    margin: 1px;
}

.acceso {
	list-style: none;
        margin: 0 0 0 5px;
        padding-left: 15px;                       
}
.acceso li{
	font-size: 11px;
        vertical-align: middle;        
}

.acceso li input[type='checkbox']{
    width: 12px;
    height: 12px;
    margin-right:2px; 
}


/********* Documentos **************/
#selectable .ui-default{border:gray solid 1px; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #CCCCCC; color: white;border:gray solid 1px; }       
#selectable { list-style-type: none; margin: 0; padding: 0;cursor:pointer }
#selectable li { margin: 3px; padding: 1px; float: left; font-size: 1em; }
#selectable img{width: 80px; height: 80px;}

#selectable_doc .ui-default{border:gray solid 1px; }
#selectable_doc .ui-selecting { background: #FECA40; }
#selectable_doc .ui-selected { background: #F39814; color: white;border:gray solid 1px; }       
#selectable_doc { list-style-type: none; margin: 0; padding: 0;cursor:pointer }
#selectable_doc li { margin: 3px; padding: 1px; height: 22px; font-size: 1em; text-align: center;}

.select{font-weight:bold}
.dir li a{cursor:pointer}


.boton {
	padding:1px 3px;	
	/*background: #FFF5CC url('../images/attention.png') 10px center no-repeat;*/
        background-color:#7B869A;        
	border: 2px solid gray;
	color: #FFF;
        text-align:center;
        font-weight: bold;
        text-decoration: none;
}

.moneda{
    text-align:right;
}

.link_texto{
    text-decoration:none;
}

.lista{
   /*min-height:350px;*/
   overflow:auto;
}
/*******************Estilo para Botones******************/
.button {
   position: relative; 
    /*z-index: 1;*/
    overflow: visible; 
    display: inline-block; 
    padding: 0.3em 0.6em 0.375em; 
    border: 1px solid #999; 
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none; 
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; 
    white-space: nowrap; 
    cursor: pointer; 
    /* outline: none; */
    color: #333; 
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
   }
.button:hover,
.button:focus,
.button:active {
    border-color: #777 #777 #666;    
}

.button:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button.icon:before {
    content: "";
    position: relative;
    /*border:1px solid red;*/
    top: 1px;
    left:0px;
    float:left;
    width: 13px;
    height: 13px;
    margin: 0 2px 0px 0;
    background: url(../images/iconos.png) 18px 18px no-repeat;
}
.button.mail-closed:before { background-position: -80px -96px; }
.button.mail-open:before  { background-position: -98px -98px; }
.button.suitcase:before  { background-position: -112px -96px; }
.button.comment:before  { background-position: -130px -98px; }
.button.person:before  { background-position: -146px -98px; }
.button.print:before  { background-position: -162px -98px; }
.button.trash:before  { background-position: -178px -99px; }
.button.add:before { background-position: -18px -130px; }
.button.edit:before  { background-position: -64px -112px; }
.button.save:before  { background-position: -98px -114px; }
.button.back:before  { background-position: -98px -18px; }
.button.copy:before { background-position: -178px -130px; }
.button.contact:before { background-position: -192px -128px; }
.button.newwin:before { background-position: -50px -82px; }

/******************** Menu Arbol **********************/
ol .tree
{
	padding: 0 0 0 0px;
        margin:0px;
	/*width: 300px;*/
}
.tree li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
.tree li.file
	{
		margin-left: -1px !important;
	}
.tree li.file a
		{
			background: url(../images/document.png) 0 0 no-repeat;			
			padding-left: 21px;
			text-decoration: none;
			display: block;
		}
.tree li.file a[href *= '.pdf']	{ background: url(../images/document.png) 0 0 no-repeat; }
.tree li.file a[href *= '.html']	{ background: url(../images/document.png) 0 0 no-repeat; }
.tree li.file a[href $= '.css']	{ background: url(../images/document.png) 0 0 no-repeat; }
.tree li.file a[href $= '.js']		{ background: url(../images/document.png) 0 0 no-repeat; }
.tree li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
.tree li input + ol
		{
			background: url(../images/toggle-small-expand.png) 40px 0 no-repeat;
			margin: -0.938em 0 0 -44px; /* 15px */
			height: 1em;
		}
.tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
.tree li label
	{
		background: url(../images/folder-horizontal.png) 15px 1px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
	}

.tree li input:checked + ol
	{
		background: url(../images/toggle-small.png) 40px 5px no-repeat;
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
.tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
.tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
/***************************************************************************/

 #fixed-bar {
    bottom: 0;
    height: 34px;
    padding: 0px 0px;
    position: fixed;
    width: 200px;
    z-index: 5000;    
    border:1px solid #333333;
    /*background: url('../images/menu.png') repeat-x;*/
    background-color: #1E2E3C;
    right:0;
    border-collapse: collapse;
    -webkit-border-radius: 3px 0px 0px 0px;
    -moz-border-radius: 3px 0px 0px 0px;
    -khtml-border-radius: 3px 0px 0px 0px;
    border-radius: 3px 0px 0px 0px;
}

#menu_pie{
    
    
   
}
#menu_pie > li{
    list-style: none;
    width:20px;    
    float:left;
    border:1px solid #333333;
    margin:0px 3px;
    background-color:#000000;
}
#menu_pie > li:hover{
    
    background-color:#FFFFFF;
    
    
}

.file{
    padding: 3px;
    margin:2px;
    border: 1px solid #999999;
    background-color:#FFFFFF;
    color:#333333;
}

.file a{
    float:right;
}

.ContentF{    
    padding: 10px;    
}